<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Todoish</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1>Todoish</h1>
    </header>
    <form action="/" method="POST">
      <label
        >
        <input type="text" id="todoInput" name="body" placeholder="enter new todo"
      />
      </label>
      
      <input id="addButton" type="submit" />

    </form>

    <ul class="todoList">
      <% todos.forEach( todo => { %>
        <li>
          <% if (todo.complete) { %>
            <p class="completed todo">
              <%= todo.body %>
            </p>
            <h6 class="completed" id='date'>
              <%= todo.date %>
            </h6>
          <% } else { %>
            <p class='todo'>
              <%= todo.body %>
              <input type='hidden' id='todoId' value='<%= todo._id %>' />
            </p>
            <h6 id='date'>
              <%= todo.date %>
            </h6>
          <% } %>
          <span>
            <form action="/<%= todo._id %>?_method=delete" method="POST">
              <button type='submit' class="deleteBtn">
                delete
              </button>
            </form>
          <% if (todo.complete) { %>

            <form action="/updateComplete/<%= todo._id %>?_method=put" method="POST">
              <button type='submit' class='complete'>
                mark incomplete
              </button>
            </form>
          <% } else { %>
            <form action="/updateComplete/<%= todo._id %>?_method=put" method="POST">
              <button type='submit' class='complete'>
                complete
              </button>
            </form>
          <% } %>
          </span>
        </li>
      <% }); %>
      

    </ul>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
